{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "", "^[.]"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
